<%- include('header') %>
  <body>
  	<%- include('menu') %>
  	<div class="main">
  <div class="main-inner">
    <div class="container">
      <div class="row">

     <div class="span12">
    <div class="widget">
                            <div class="widget-header">
                                <i class="icon-bar-chart"></i>
                                <h3><%=title%></h3>
                            </div>
                            <!-- /widget-header -->
                            <div class="widget-content">
            
                  <div class="span6 form-horizontal">

      <div class="control-group">
      <label class="control-label text-left" for="firstname">Code </label>
      <div class="controls">
      : <%=student.code%>
      </div> <!-- /controls -->
      </div>
      <div class="control-group ">

           <label class="control-label text-left" for="firstname">Nama </label>
           <div class="controls">
           : <%=student.name%>
           </div> <!-- /controls -->
           </div>
           <div class="control-group ">

                <label class="control-label text-left" for="firstname">Department </label>
                <div class="controls">
                : <%=student.department%>
                </div> <!-- /controls -->
                </div>
      <div class="control-group ">

           <label class="control-label text-left" for="firstname">Age </label>
           <div class="controls">
           : <%=student.age%>
           </div> <!-- /controls -->
           </div>
           
</div>      	
                      
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                        <!-- /widget -->
                    </div>
                      </div></div>
			<!-- /breadcrumbs line -->


			<!-- Callout
			<div class="callout callout-info fade in">
				<button type="button" class="close" data-dismiss="alert">×</button>
				<h5>Intruksi</h5>
				<p>Silahkan Pilih Kriteria hotel yang Anda Inginkan</p>
			</div>
             /callout -->
			
            
      


	        <!-- Footer -->

          </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /main-inner -->
</div>
<%- include('footer') %>

  </body>
</html>
