<%- include('header') %>
  <body>
  	<%- include('menu') %>
  	<div class="main">
  <div class="main-inner">
    <div class="container">
      <div class="row">

     <div class="span12">
    <div class="widget">
                            <div class="widget-header">
                                <i class="icon-bar-chart"></i>
                                <h3><%=title%></h3>
                            </div>
                            <!-- /widget-header -->
                            <div class="widget-content">
            <form action="/update_siswa" method="POST" id="edit-profile" class="form-horizontal">
            <div class="span6">

            
      <input type="hidden" name="code" value="<%=student.code %>" required>
      
      <div class="control-group">
      <label class="control-label" for="firstname">Nama</label>
      <div class="controls">
      <input type="text" name="name" value="<%=student.name %>" required>
      </div> <!-- /controls -->
      </div>
      <div class="control-group">
      <label class="control-label" for="firstname">Departement</label>
      <div class="controls">
      <input type="text" name="department" value="<%=student.department %>" required>
      </div> <!-- /controls -->
      </div>
      <div class="control-group">
      <label class="control-label" for="firstname">Age</label>
      <div class="controls">
      <input type="text" name="age" value="<%=student.age %>" required>
      </div> <!-- /controls -->
      </div>
      <div class="control-group">
      <div class="controls">
      <button type="submit" class="btn btn-primary">Simpan</button>
      </div> <!-- /controls -->
      </div>
            </div>
            </div>
                        	
                      
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                        <!-- /widget -->
                    </div>
                      </div></div>
			<!-- /breadcrumbs line -->


			<!-- Callout
			<div class="callout callout-info fade in">
				<button type="button" class="close" data-dismiss="alert">×</button>
				<h5>Intruksi</h5>
				<p>Silahkan Pilih Kriteria hotel yang Anda Inginkan</p>
			</div>
             /callout -->
			
            
      


	        <!-- Footer -->

          </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /main-inner -->
</div>
<%- include('footer') %>

  </body>
</html>
